
<style>
	body {
		padding: 0;
		margin: 0;
	}
	html, body, #map {
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	th {
		text-align: left;
		vertical-align: top;
	}

	html, body, #slide {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.info {
	    padding: 6px 8px;
	    font: 14px/16px Arial, Helvetica, sans-serif;
	    background: white;
	    background: rgba(255,255,255,0.8);
	    box-shadow: 0 0 15px rgba(0,0,0,0.2);
	    border-radius: 5px;
    }
    .info h2 {
	    margin: 0 0 5px;
	    color: #777;
	}
	.leaflet-popup{
		z-index: 99;
	}
	
	.leaflet-container {
    	background: #FFF;
	}
	.leaflet-left .legend {
    width: 200px;
	}

	.legend i {
	    width: 18px;
	    height: 18px;
	    float: left;
	    margin-right: 8px;
	    opacity: 0.7;
	    border: 1px solid #111111;
	}
	.legend h3{
		margin-top: 6px;
		text-align: center;
		margin-bottom: 6px;
	}
	.civicLogo{
		height:37px;
		width: auto;
	}
</style>